<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	EJB3LibraryWeb</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		AddAuthor_OP</display-name>
		<servlet-name>AddAuthor_OP</servlet-name>
		<servlet-class>
		src.AddAuthor_OP</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddAuthor</display-name>
		<servlet-name>AddAuthor</servlet-name>
		<servlet-class>
		src.AddAuthor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddCustomer_OP</display-name>
		<servlet-name>AddCustomer_OP</servlet-name>
		<servlet-class>
		src.AddCustomer_OP</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddNewBook_OP</display-name>
		<servlet-name>AddNewBook_OP</servlet-name>
		<servlet-class>
		src.AddNewBook_OP</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddNewBook</display-name>
		<servlet-name>AddNewBook</servlet-name>
		<servlet-class>
		src.AddNewBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddNewCustomer</display-name>
		<servlet-name>AddNewCustomer</servlet-name>
		<servlet-class>
		src.AddNewCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Authors</display-name>
		<servlet-name>Authors</servlet-name>
		<servlet-class>
		src.Authors</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Books</display-name>
		<servlet-name>Books</servlet-name>
		<servlet-class>
		src.Books</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BooksForReturning</display-name>
		<servlet-name>BooksForReturning</servlet-name>
		<servlet-class>
		src.BooksForReturning</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BooksToBorrow</display-name>
		<servlet-name>BooksToBorrow</servlet-name>
		<servlet-class>
		src.BooksToBorrow</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BooksToReturn</display-name>
		<servlet-name>BooksToReturn</servlet-name>
		<servlet-class>
		src.BooksToReturn</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BorrowBook</display-name>
		<servlet-name>BorrowBook</servlet-name>
		<servlet-class>
		src.BorrowBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CustomerMainPage</display-name>
		<servlet-name>CustomerMainPage</servlet-name>
		<servlet-class>
		src.CustomerMainPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Customers</display-name>
		<servlet-name>Customers</servlet-name>
		<servlet-class>
		src.Customers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Loans</display-name>
		<servlet-name>Loans</servlet-name>
		<servlet-class>
		src.Loans</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ReturnBook</display-name>
		<servlet-name>ReturnBook</servlet-name>
		<servlet-class>
		src.ReturnBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserLogin</display-name>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>
		src.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAuthor_OP</servlet-name>
		<url-pattern>/AddAuthor_OP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAuthor</servlet-name>
		<url-pattern>/AddAuthor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCustomer_OP</servlet-name>
		<url-pattern>/AddCustomer_OP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewBook_OP</servlet-name>
		<url-pattern>/AddNewBook_OP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewBook</servlet-name>
		<url-pattern>/AddNewBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewCustomer</servlet-name>
		<url-pattern>/AddNewCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Authors</servlet-name>
		<url-pattern>/Authors</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Books</servlet-name>
		<url-pattern>/Books</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BooksForReturning</servlet-name>
		<url-pattern>/BooksForReturning</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BooksToBorrow</servlet-name>
		<url-pattern>/BooksToBorrow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BooksToReturn</servlet-name>
		<url-pattern>/BooksToReturn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrowBook</servlet-name>
		<url-pattern>/BorrowBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerMainPage</servlet-name>
		<url-pattern>/CustomerMainPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Customers</servlet-name>
		<url-pattern>/Customers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loans</servlet-name>
		<url-pattern>/Loans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnBook</servlet-name>
		<url-pattern>/ReturnBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
